
.introduction {
    background: url("../../images/intro_background.png") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.profile_image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.left-section {
    text-align: right;
    flex: 1;
    padding-right: 20px;
}

.right-section {
    text-align: left;
    flex: 1;
    padding-right: 150px;
}

.right-section h1 {
    font-size: 48px;
    color: #007FFF;
    font-weight: 700;
    text-transform: uppercase;
}

.right-section h2 {
    font-size: 36px;
    font-weight: 300;
}

.right-section p {
    font-size: 16px;
}

.right-section a {
    display: block;
    height: 57px;
    width: 207px;
    border-radius: 10px;
    border: 2px solid #007FFF;
    color: #007FFF;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
}
